# Created by venv; see https://docs.python.org/3/library/venv.html
__pycache__
.idea
.ipynb_checkpoints
bin
connectors/__pycache__
connectors/coinbasepro_products-DESKTOP-UKCDQ7P.py
connectors/sb_coinbasepro_products.py
env/__pycache__
env/api_key-DESKTOP-UKCDQ7P.py
env/api_key.py
env/cdp_api_key.json
env/sb_api_key.py
include
lib
lib64
main-DESKTOP
pathlib_scripts
scripts
*.json
clients.py
coinbase_websocket_gui.ipynb
crypto_bot_recent_buys.txt
get_rsi_and_sma.py
info.log
main.py
main2.py
sandbox.ipynb
sandbox.py
sb_main.py
system_info.py
ws_scripts.py

